<div class="row">
  <div class="offset-md-4 col-md-4 text-center mt-md-5">
    <img
      src="./patient-chart/imgs/logo.jpg"
      alt="Medico"
      title="medico"
    />
  </div>
</div>
<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-5 login-sec">
        <h2 class="text-center">Login Now</h2>
        <div *ngIf="!email">
          <div class="row mt-md-5">
            <div class="col-md-5">
              <dx-form #emailForm [(formData)]="emailModel">
                <dxi-item dataField="email" [editorOptions]="{ width: '320px' }">
                  <dxi-validation-rule type="required" message="Email is required">
                  </dxi-validation-rule>
                  <dxi-validation-rule
                    type="email"
                    message="Email is invalid"
                  ></dxi-validation-rule>
                </dxi-item>
              </dx-form>
            </div>
          </div>
          <div class="row mt-md-2">
            <div class="offset-md-1 col-md-10 text-right">
              <button
                type="button"
                (click)="findUsers()"
                class="btn btn-sm btn-outline-secondary"
              >
                NEXT
              </button>
            </div>
          </div>
        </div>
        <login *ngIf="email" (backToEmailForm)="resetEmail()" [email]="email"></login>
        <!-- <form class="login-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">User name</label>
                        <input type="text" class="form-control" placeholder="">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                        <input type="password" class="form-control" placeholder="">
                    </div>


                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            <small>Remember Me</small>
                        </label>
                        <button type="submit" class="btn btn-login float-right">Submit</button>
                    </div>

                </form> -->
        <div class="copy-text">
          Created by
          <a href="https://medicophysicians.azurewebsites.net/">medicophysicians.net</a>
        </div>
      </div>
      <div class="col-md-7 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img
                class="d-block img-fluid"
                src="https://i.ibb.co/bL56xpy/bethesda-naval-medical-center-80380-1920.jpg"
                alt="First slide"
                height="100%"
                width="100%"
              />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Welcome to Medico</h2>
                  <p>Deep Learning Algorithm for Lung Nodule Detection</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                class="d-block img-fluid"
                src="https://i.ibb.co/bL56xpy/bethesda-naval-medical-center-80380-1920.jpg"
                alt="First slide"
                width="100%"
              />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Annotataing Tool</h2>
                  <p>Use the tool to mark nodule in Lung CT Image</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                class="d-block img-fluid"
                src="https://i.ibb.co/bL56xpy/bethesda-naval-medical-center-80380-1920.jpg"
                alt="First slide"
                width="100%"
              />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Please Login</h2>
                  <p>Please enter your User Name and Password to Login</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
