.navbar-brand {
    position: absolute;
    padding: 20px;
}

// @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block {
    background: #76c027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #64a021, #76c027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #ffffff,
        #ffffff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    width: 100%;
    padding: 100px 0;
}
.banner-sec {
    background: url(https://i.ibb.co/bL56xpy/bethesda-naval-medical-center-80380-1920.jpg) no-repeat left bottom;
    background-size: cover;
    min-height: 450px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}
.container {
    background: #e6e6e6;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0);
}
.carousel-inner {
    border-radius: 0 10px 10px 0;
}
.carousel-caption {
    text-align: left;
    left: 5%;
}
.login-sec {
    padding: 50px 30px;
    position: relative;
}
.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}
.login-sec .copy-text i {
    color: #76c027;;
}
.login-sec .copy-text a {
    color:  #64a021;
}
.login-sec h2 {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 24px;
    color: #64a021;
}
.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 3px;
    background: #76c027;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}
.btn-login {
    background: #76c027;
    color: #fff;
    font-weight: 600;
}
.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}
.banner-text h2 {
    color: #fff;
    font-weight: 600;
}
.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #fff;
    display: block;
    margin-top: 5px;
    border-radius: 3px;
}
.banner-text p {
    color: #fff;
}
