<div class="col-md-6 py-2">
    <div class="col-md-12 p-2">
        <dx-form #selectableListDataForm [(formData)]="formData">
            <dxi-item
                [label]="{ text: 'Display Records' }"
                dataField="displayRecords"
                editorType="dxNumberBox"
                >
                <dxi-validation-rule type="required" message="This field is required">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item
                [label]="{ text: 'Scroll Bar' }"
                dataField="scrollBar"
                editorType="dxCheckBox"
                >
            </dxi-item>
            <dxi-item
                [label]="{ text: 'Sort Order' }"
                dataField="sortOrder"
                editorType="dxSelectBox"
                [editorOptions]="{ dataSource: sortOrderData, displayExpr: 'value', valueExpr: 'value' }"
                >
                <dxi-validation-rule type="required" message="This field is required">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item
                [label]="{ text: 'Searh(any word, any place)' }"
                dataField="search"
                editorType="dxCheckBox"
                >
            </dxi-item>
            <dxi-item
                [label]="{ text: 'Allow Free Text Entry' }"
                dataField="allowFreeText"
                editorType="dxCheckBox"
                >
            </dxi-item>
            <dxi-item
                [label]="{ text: 'Allow entry to be save to data source' }"
                dataField="externalEmailsSend"
                editorType="dxCheckBox"
                >
            </dxi-item>
        </dx-form>
    </div>
    <div class="col-md-12 p-2">
        <div class="dx-field-value">
            <dx-button
                class="Save"
                icon="fas fa-save"
                text="Save"
                (onClick)="save()"
                >
            </dx-button>
        </div>
    </div>
</div>
