<div class="row">
  <div class="col-6">
    <dx-select-box
      valueExpr="id"
      displayExpr="name"
      (onItemClick)="onTemplatePhraseAdded($event)"
      placeholder="Select Phrase"
      [dataSource]="templatePhraseUsageDataSource"
      [searchEnabled]="true"
      [showClearButton]="true"
    >
      <div *dxTemplate="let item of 'item'">
        <h6>{{ item.name }}</h6>
      </div>
    </dx-select-box>
  </div>
</div>
<div class="row mt-2">
  <div class="col-6">
    <dx-list [items]="templatePhrasesUsage" [allowItemDeleting]="true">
      <div *dxTemplate="let item of 'item'">
        <div class="d-flex justify-content-between align-items-center">
          <div class="mt-1">{{ item.name }}</div>
          <button
            type="button"
            (click)="phrasePopupOpen($event, item.id)"
            class="btn btn-sm btn-outline-secondary"
          >
            Preview
          </button>
        </div>
      </div>
    </dx-list>
  </div>
  <dx-popup
    class="popup"
    [width]="900"
    [height]="600"
    [dragEnabled]="false"
    [showTitle]="true"
    title="Phrase content"
    [hideOnOutsideClick]="false"
    [(visible)]="isPhrasePopupOpened"
    (onHidden)="onPhrasePopupHidden()"
  >
    <div *dxTemplate="let data of 'content'">
      <div *ngIf="isPhrasePopupOpened">
        <selectable-items-editor
          [companyId]="companyId"
          [templateContent]="phraseContent"
          (contentChanged)="onPhraseContentChanged($event)"
        >
        </selectable-items-editor>
      </div>
    </div>
  </dx-popup>
</div>
