<div class="card" style="height: 300px; overflow: auto; margin-top: 20px">
  <div class="card-header font-weight-bold">
    <div class="float-left">SUB TASKS</div>
    <div class="float-right">
      <button type="button" class="btn btn-sm btn-outline-primary" (click)="openPopUp('add')">
        Add Sub Task
      </button>
    </div>
  </div>
  <div>
    <table class="table table-striped table-condensed" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Description</th>
          <th>Create Date</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Assignee</th>
          <th>Status</th>
          <th>TaskType</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tasks">
          <td>
            {{ item.title }}
          </td>
          <td [innerHTML]="commonText(item.description)">
          </td>
          <td>{{ item.createdDate | date }}</td>
          <td>{{ item.dueDate | date }}</td>
          <td>
            <dx-button text="{{ item.priority }}"> </dx-button>
          </td>
          <td>
            <span *ngFor="let r of item.subTaskUsers"> {{ r.fullName }}, </span>
          </td>
          <td>
            {{ item.notificationStatus }}
          </td>
          <td>
            {{ item.taskTypeId }}
          </td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="edit(item.id)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--sub task popup-->
<dx-popup
  #subTaskPopup
  class="popup"
  [width]="1100"
  [height]="740"
  [dragEnabled]="false"
  [showTitle]="true"
  [title]="title"
  [hideOnOutsideClick]="false"
  [(visible)]="isDrawerOpen"
>
  <div *dxTemplate="let data of 'content'">
    <div *ngIf="isDrawerOpen" class="row">
      <div class="col-md-12">
        <dx-form #subTaskForm [(formData)]="subTaskData" [colCount]="2">
          <dxi-item [label]="{ text: 'Assign To' }" dataField="to" editorType="dxTagBox">
            <dxi-validation-rule type="required" message="Recipients is required"></dxi-validation-rule>
            <dx-tag-box
              [(value)]="subTaskData.userIds"
              [dataSource]="userDataSource"
              [searchEnabled]="true"
              displayExpr="firstName"
              valueExpr="id"
            >
            </dx-tag-box>
          </dxi-item>

          <dxi-item [label]="{text: 'Task Type'}">
            <dxi-validation-rule type="required" message="TaskType is required"></dxi-validation-rule>
            <dx-select-box
              [dataSource]="taskTypes"
              displayExpr="description"
              valueExpr="value"
              [(value)]="subTaskData.taskTypeId"
            ></dx-select-box>
          </dxi-item>

          <dxi-item
            [colSpan]="6"
            [label]="{ text: 'Subject' }"
            dataField="title"
          >
            <dxi-validation-rule type="required" message="Subject is required">
            </dxi-validation-rule>
            <dx-select-box
              [dataSource]="titleDataSource"
              [acceptCustomValue]="true"
              displayExpr="value"
              valueExpr="value"
              searchMode="contains"
              searchExpr="value"
              [searchTimeout]=200
              [minSearchLength]=0
              [searchEnabled]="true"
              [showDataBeforeSearch]="false"
              [(value)]="subTaskData.title"
              (onCustomItemCreating)="addCustomItem($event)"
            ></dx-select-box>
          </dxi-item>

          <dxi-item
            dataField="createDate"
            editorType="dxDateBox"
            [editorOptions]="{ width: '100%', height: '36' }"
          >
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>

          <dxi-item
            dataField="dueDate"
            editorType="dxDateBox"
            [editorOptions]="{ width: '100%', height: '36' }"
          >
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>

          <dxi-item
            dataField="priority"
            editorType="dxSelectBox"
          >
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dx-select-box
              [dataSource]="priorityList"
              displayExpr="name"
              valueExpr="value"
              [(value)]="subTaskData.priority"
            ></dx-select-box>
          </dxi-item>

          <dxi-item
            dataField="Message Status"
            editorType="dxSelectBox"
          >
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dx-select-box
              [dataSource]="statusList"
              displayExpr="description"
              valueExpr="value"
              [(value)]="subTaskData.notificationStatus"
            ></dx-select-box>
          </dxi-item>

          <dxi-item [label]="{text: 'OrderList'}">
            <dx-select-box
              [dataSource]="orderList"
              [displayExpr]="formatOrderListDropdownItem"
              valueExpr="id"
              [(value)]="subTaskData.patientOrderId"
            ></dx-select-box>
          </dxi-item>

          
          <dxi-item itemType="group" colCount="5" colSpan="2">
            <dxi-item [label]="{text: 'Message'}" colSpan="4" >
              <dxi-validation-rule type="required" message="MessageType is required"></dxi-validation-rule>
              <admin-rich-text-editor
                #subTaskRichTextEditor
                initialContent=""
                [height]="420"
              >
              </admin-rich-text-editor>
            </dxi-item>
            <dxi-item>
              <div class="">
                <dx-button
                  class="mt-2"
                  icon="fa fa-arrow-left"
                  text="Insert Phrases"
                  (click)="showPhrasesHelper($event)"
                >
                </dx-button>
                <phrase-suggestion-helper
                  #phraseHelper
                  *ngIf="isPhrasesHelperVisible"
                  [keepFormat]="true"
                  [typedText]="'..'"
                  [templateId]="templateId"
                  [companyId]="companyId"
                  (phraseSuggestionApplied)="onPhraseSuggestionApplied($event)"
                >
                </phrase-suggestion-helper>
              </div>
            </dxi-item>
          </dxi-item>

        </dx-form>
      </div>
      <div class="col-md-12 text-right mt-md-2">
        <div class="dx-field-value">
          <dx-button
            class="send"
            icon="fas fa-envelope"
            [text]="buttonText"
            (onClick)="addSubTask()"
          >
          </dx-button>
        </div>
      </div>
    </div>
  </div>
</dx-popup>
